<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger{35} %X{breadcrumbId} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="no.cantara" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
